* {
  box-sizing: border-box;
  list-style: none;
}

body {
  margin: 0;
  background-color: #fbfbfd;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  .App-nav {
    height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #e2e2e2;
    .App-nav-container {
      max-width: 860px;
      margin: auto;
      display: flex;
      height: 100%;
      .App-logo {
        width: 120px;
        height: 65px;
      }
    }
  }
  .App-container {
    width: 100%;
    max-width: 840px;
    margin: auto;
    padding: 50px 21px;
    .App-PlayListForm {
      padding: 10px;
      background-image: url("../assets/ticket.png");
      background-size: cover;
      background-repeat: no-repeat;
      filter: drop-shadow(0 0 11px rgba(105, 105, 105, 0.2));
      border-radius: 5px;
    }
    .App-sorts {
      margin: 51px 0 23px;
      .AppSortButton {
        padding: 12px 40px;
        margin-right: 8px;
        color: #000;
        border: none;
        font-weight: 600px;
        font-size: 18px;
        background-color: #eee;
        cursor: pointer;
        border-radius: 0 10px 0 10px;
        &:hover {
          background-color: #ffb700;
          color: #fff;
        }
      }
    }
    .App-PlayList {
      padding: 30px 30px 0;
      border-radius: 5px;
      box-shadow: 0 0 11px 0 rgba(105, 105, 105, 0.2);
      background-color: #fff;
      .App-load-more-button {
        width: 100%;
        padding: 25px 0;
        font-size: 16px;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }
  .App-footer {
    background-color: #000;
    .App-footer-container {
      padding: 30px 21px;
      font-size: 14px;
      letter-spacing: -0.25px;
      text-align: right;
      color: #838383;
    }
  }
}
